*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.hotel-card{
  position:relative;
  width:100%;
  height:650px;
  /* margin-left: 70px; */
  /* margin-top: 30px; */
  border-radius:20px;
  overflow:hidden;
  cursor:pointer;
  background:url('https://images.unsplash.com/photo-1552566626-52f8b828add9')
  center/cover no-repeat;
  /* background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/76/2a/ab/facade.jpg?w=1200&h=-1&s=1); */
  transition:0.5s ease;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
}
.hotel-card:hover{
  transform:scale(1.05);
}
.overlay{
  position:absolute;
  inset:0;
  background:linear-gradient( to top, rgba(0,0,0,0.9), rgba(0,0,0,0.2));
  transition:0.5s;
}

.hotel-card:hover .overlay{
  background:linear-gradient(to top,rgba(246, 142, 50, 0.9), rgba(0,0,0,0.3));
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}

.content{
  position:absolute;
  bottom:30px;
  left:20px;
  color:white;
  transform:translateY(40px);
  transition:0.5s;
}

.hotel-card:hover .content{
  transform:translateY(0);
  opacity:1;
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}

.content h1{
  font-size:32px;
  margin-bottom:10px;
}

.content p{
  font-size:15px;
  margin-bottom:20px;
  color:#f1f1f1;
}

.btn-1{
  padding:12px 25px;
  border:none;
  border-radius:30px;
  background:#fff;
  color:#ff6600;
  font-size:16px;
  font-weight:bold;
  /* cursor:pointer; */
  transition:0.3s;
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
button:hover{
  background:#222;
  color:#fff;
}
.royal{
    font-size: 35px;
    margin-top: 350px;
}
.background{
  background-image: url(../background.avif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.topic{
    width: 100%;
    height: 60px;
    border: none;
    display: flex;
     background-color:rgb(249, 176, 41) ;
     color:white;
     position: fixed;
     top: 0pxz;
     z-index: 1;
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
h2{
    margin-top: 20px;
    color:black;
    font-size: 25px;
    font-weight:bold;
    font-style: italic;
}
h3{
    margin-top: 20px;
    color:white;
    font-size: 18px;
}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.com{
    background-image: url(../brown-wooden-table-on-coffee-shop-or-restaurant-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
h4{
   border: none;
   width: 100%;
   height: 300px;
    /* background-color:rgb(246, 103, 103) ; */
    
   /* margin-top: 20px;
   border-radius: 30px; */
   /* box-shadow: 0px 0px 20px whitesmoke; */
   /* background-color: rgb(179, 221, 179); */
   /* background-color:rgb(177, 1, 1) ; */
}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
hr{
    width: 90%;
    margin-left: 60px;
    margin-top: 20px;
    color: orange;
    border: 1px solid;
}
.image{
    display: flex;
    margin-left:40px;
}
option{
  background-color:orangered;
}
select{
  width: 57px;
  height: 20px;
  margin-top: 20px;
  margin-left: 10px;
  border: none;
  background-color:rgb(244, 160, 5);
  color: whitesmoke;
  border-radius: 20px;
}
.in{
    border: none;
}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.menu-container{
      width:100%;
      max-width:1100px;
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
      gap:25px;
      margin-left: 110px;
}
.menu-card{
      background:#fff;
      border-radius:18px;
      overflow:hidden;
      box-shadow:0 8px 20px rgba(0,0,0,0.15);
      transition:0.4s ease;
      position:relative;
       margin-left: 50px;
}
.menu-card:hover{
      transform:translateY(-10px) scale(1.02);
      box-shadow:0 15px 30px rgba(0,0,0,0.25);
}
.menu-card img{
      width:100%;
      height:220px;
      object-fit:cover;
      transition:0.4s;
}
.menu-card:hover img{
      transform:scale(1.08);
}
.menu-content{
      padding:20px;
}

.menu-content h2{
      color:#333;
      margin-bottom:10px;
      font-size:24px;
}
.menu-content p{
      color:#666;
      font-size:14px;
      line-height:1.5;
      margin-bottom:15px;
}

.price{
      font-size:22px;
      color:#ff5722;
      font-weight:bold;
      margin-bottom:15px;
}

.btn{
      display:inline-block;
      padding:10px 18px;
      border:none;
      /* background:#ff5722; */
      background-color:orangered;
      color:white;
      border-radius:25px;
      cursor:pointer;
      transition:0.3s;
      text-decoration:none;
      font-size:14px;
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}

/* .btn:hover{
      background:#e64a19;
      transform:scale(1.05);
} */

.tag{
      position:absolute;
      top:15px;
      right:15px;
      /* background:#ff5722; */
      background-color: orangered;
      color:white;
      padding:6px 12px;
      border-radius:20px;
      font-size:12px;
      animation:blink 2s infinite;
 }
    @keyframes blink{
      0%{opacity:1;}
      50%{opacity:0.5;}
      100%{opacity:1;}
}

@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.management{
  width: 100%;
  height: 700px;
  border: none;
  display: flex;
  
}
.d-1{
  width: 60%;
  height: 700px;
  border: none;
  /* background-color:ghostwhite; */
}
.d-2{
  width: 40%;
  height: 800px;
  border: none;
   border-radius: 5px;
   transition: 1.5s;
  /* border:1px solid rgb(240, 238, 236);
   box-shadow: 0px 0px 15px rgb(226, 224, 224); */
}
.d-2 :hover{
   color:red;
}
.box1{
  width: 200px;
  height: 300px;
  border:1px solid rgb(240, 238, 236);
 box-shadow: 0px 0px 15px rgb(163, 161, 161);
 float: left;
 margin-left: 55px;
 margin-top: 70px;
 border-radius: 20px;
 transition: 1.5s;
}
.box1 :hover{
    /* transform:translateY(100px) translateX(100px); */
    transform: rotatey(200deg);
    transition-duration: 3s;

}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.abt{
   margin-left: 80px;
   padding: 20px;
  font-size: 30px;
  color:white;
  /* margin-top: 100px; */
  
}
.para{
  width: 40%;
  margin-left: 100px;
  margin-top: 10px;
  color:white;
  line-height: 30px;
  /* font-variant: small-caps; */
}
.btn-0{
  width: 90px;
  height: 30px;
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 20px;
   border: none;
   background-color: #f1f1f1;
}

.comon{
  background-color: rgb(55, 54, 54);
  border: none;
  margin-top: 70px;
  height: 340px;
  animation:zoom 1s ease;
  /* height: 650px; */
  width: 100%;

}
label{
  margin-left: 40px;
}
input{
  height: 30px;
  width: 200px;
}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.socials {
  /* display: flex;
  gap: 20px;
  justify-content: center; */
  margin-top: 20px;
  display: flex;
  margin-left: 90px;
}

.socials a {
  transition: 0.3s;
  /* width: 50px;
  height: 50px; */
  display: flex;
  margin-left: -8px;
  /* align-items: center;
  justify-content: center; */
  text-decoration: none;
  /* border-radius: 50%;
  background-color:   black;
  font-size: 22px; */
}

.socials a:hover {
  transform: translateY(-10px);
}
@media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}
.boxx{
  clear: both;
  border: none;
  width: 380px;
  height: 300px;
  /* background-color:pink; */
  border-radius: 20px;
  margin-left: 510px;
 
}
 .man1{
  border: none;
  width: 240px;
  height: 330px;
  float: left;
  margin-top: 40px;
  margin-left: 290px;
 }
 .man2{
  border: none;
  width: 240px;
  height: 330px;
  float: left;
  margin-left: 50px;
  margin-top: 40px;
 }
 .man3{
  border:none;
  width: 240px;
  height: 330px;
  float: left;
  margin-left: 50px;
  margin-top: 40px;
 }
 @media(max-width:900px){
    .stay-container{
        flex-direction: column;
    }
    .reverse{
        flex-direction: column;
    }
    .stay-content,.stay-image{
        width: 100%;
    }
    .stay-content{
        text-align: center;
    }
}

